<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qa.dao.FeedbackMapper">
  <resultMap id="BaseResultMap" type="com.example.qa.domain.entity.Feedback">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="question" jdbcType="LONGVARCHAR" property="question" />
    <result column="user_feedback" jdbcType="LONGVARCHAR" property="userFeedback" />
  </resultMap>
</mapper>